:root {
  --maincolor: #faebcd;
  --policetitle: "Instrument Serif", serif;
  --policesecondtiltle: "Inria Serif", serif;
  --policetext:"Instrument Sans", sans-serif;
  --colortextbg: #4b4b4b;
  --colorlight: #eeb138;
  --colorsombre : #222;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  
}


.billboard {
  display: flex;
  position: relative;
  gap: 100px;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/homefond.png');
  font-size: 1.6rem;
  margin-bottom: 20px;
  
}

/* .billboard .theweeknd {
  position: absolute;
  bottom: 20px;
  height: auto;
  width: 370px;
} */

.billboard .disk {
  
  width: 400px;
  
}

/* .billboard .genre {
  opacity: 23%;
  font-size: 2.5rem;
  position: absolute;
  top: 0px;
  right: 0px;
  transform-origin: bottom right;
  transform: rotate(270deg);
} */

.banniere {
  font-family: var(--policetitle);
  color: var(--colorlight);
  width: 100%;
  background-color:var(--colorsombre);
  text-align: center;
  font-size: 4rem;
  padding: 6px;
  z-index: 20;
}

.banniere hr{

  background-color: var(--colorlight);
  height: 2px;
  border: none;
  width: 20%;
  margin: auto;
  margin-bottom: 30px;
  
}

.banniere h2{
color: var(--colorlight);
margin: auto;
margin-top: 20px;
}

.banniere p{

  font-size: 1.5rem;
  font-family: var(--policetext);
  color: var(--maincolor);

}

.banniereposition {
  position: absolute;
  bottom: 20px;
}

.datacontainer{

  background-color: var(--colorsombre);
  /* height: 100vh; */
  margin-bottom: 30px;
}

.datacontainer #info{

  font-size: 0.8rem;
  text-align: center;
  padding: 15px;
}


.titleGraphique p{

  margin: auto;
  text-align: center;
  font-size: 1.5rem;
    font-family: var(--policetext);
    color: var(--colorsombre);
}

.left a{

  background-color: var(--colorsombre);
  color: var(--colorlight);
  text-decoration: none;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease; /* transition fluide */
 
}

.left a:hover{

  color:var(--colorsombre);
  background-color: white;
  
}

h1 {
  font-family: var(--policetitle);
  font-weight: 400;
  font-style: normal;
  font-size: 9rem;
  color:white;
  text-shadow: 2px 2px 4px #000;
}

.explication-container {
  
  position: relative;
  /* Dégradé progressif du haut vers le bas */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: var(--policetitle);
  font-weight: 400;
  color: var(--colortextbg);
  width: 800px;
  font-size: 4rem;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  
}

.nombremusique{
height: 350px;
background-color: var(--colorsombre);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}

.nombremusique > div h2,.nombremusique > div p {

  color: #ccc;
  text-align: center;
}

.nombremusique > div a{

  color: white;
}

.artistexemple{

  background-color: var(--colorsombre);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .artist{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 20px;
  width: 60%;
  

}

.artist:first-child{

  margin-top: 50px;

}

.artist:last-child{

  margin-bottom: 50px;}

.artist img{

width: 250px;

height: 200px;
object-fit: cover;
border-radius: 20px;





}










.text {
  
  color: var(--maincolor);
  
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}



.maincolor{
  color:var(--maincolor)
}

.para{

  
  color: var(--colortextbg);
  padding: 30px;
  border-radius: 10px;
  margin-top: 10px;
  width: 70%;
  font-size: 1.5rem;
}

.barre-content{

  display: flex;
  justify-content: center;
  align-items: center;

}


h3{

  font-size: 3.5rem;
  color: var(--maincolor);
  font-family: var(--policetitle);

}

.card h3{

  font-size: 2.2rem;
}


.w50{

  width: 50%;
  margin-bottom: 20px;
}

.podium {

  width: 40%;
}

.podium svg{

  /* taille responsive tout en gardant le ratio 800/500 = 8/5 */
width: 100%;
  position: relative;
  
}




/* conversion des positions pixels -> % (basé sur 800x500) */
.gold{
  left: 47.5%; 
  top: 40%;     
}

.silver{
  left: 26.75%; 
  top: 76%;     /* (500-120)=380 -> 380/500 = 76% */
}

.bronze{
  right: 10%;  
  top: 70%;     
}

/* responsive text */
.podium p{
  margin: 0;
  font-size: clamp(12px, 1.5vw, 20px); /* s'adapte */
  text-align: center;
}



.ombre {
  position: absolute;

  height: 310px;
}

.ombre1 {
  bottom: 0;
  left: 0;
  transform: scaleX(-1);
}

.ombre2 {
  bottom: 0;
  right: 0;
}

label {
  font-weight: bold;
}

select {
  margin-left: 10px;
  padding: 5px;
}

.nyc{
width: 100%;
margin-bottom: 70px;

}

.nyc2{
  transform: scaleX(-1) scaleY(-1);

}




footer {
  background-color: var(--colorsombre);
  color: white;
  padding: 30px 15px;
  margin-top: 20px;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1 1 250px;
  min-width: 200px;
}

.footer-column h4 {
  margin-bottom: 10px;
  color: var(--colorlight);
}

.footer-column p,
.footer-column a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
}

.footer-column a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #444;
  text-align: center;
  margin-top: 25px;
  padding-top: 15px;
  color: #aaa;
  font-size: 13px;
}
