  :root {

    --maincolor: #FAEBCD;
    --policetitle : "Instrument Serif", serif;
    --policesecondtiltle : "Inria Serif", serif;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
  }




  body {
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--maincolor);

  }

  .billboard {

    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    justify-content: center;
  }

  .billboard .theweeknd{

    position: absolute;
    bottom: 20px;
    height: auto;
    width: 370px;
  }

  .billboard .disk{

    position: absolute;
    width: 300px;
    left: 0;
    top: 5vh;
    


  }

.billboard .genre {
  opacity: 23%;
  font-size: 2.5rem;
  position: absolute;
  top: 0px;
  right: 0px;
  transform-origin: bottom right;
  transform: rotate(270deg);

}

.billboard .banniere{

font-family: var(--policetitle);
color: #eeb138;
position: absolute;
bottom: 20px;
width: 100%;
background-color: black;
text-align: center;
font-size: 4rem;
padding: 6px;
z-index: 20;


}

  h1 {

    font-family: var(--policetitle);
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;


  }

  h2{
    font-family: var(--policesecondtiltle);
    font-weight: 200;
    margin-top: 20px;
    margin: auto;
    

  }

  .explication-container{

    height: 100vh;
    width: 100%;
    position: relative;
  }

    .explication-container .title{

    display: flex;
    flex-direction: column;
  }

.explication-container .title img{

    width:300px;
    margin: auto;
  }


  .explication-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    

  }

  .explication-content p{

    max-width: 55%;
    margin-left: 20px;
  }
  .explication-container .ombre{

    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 450px;

  }

  .explication-container .micro{

    position: absolute;
    left: 0px;
    top: -20px;
    width: 200px;

  }

  label {
    font-weight: bold;
  }

  select {
    margin-left: 10px;
    padding: 5px;
  }

  .bar-container {
    margin-top: 20px;
    width: 400px;
  }

  .bar {
    height: 30px;
    margin: 5px 0;
    background-color: #3498db;
    text-align: right;
    color: white;
    line-height: 30px;
    padding-right: 5px;
    transition: width 0.5s;
  }